/* custom.css */
.citation-block {
    @apply min-h-[500px] w-full bg-[#1A1B26] p-4 text-[15px] text-neutral-200 outline-none;
    resize: none; 
}
.citation-block a {
    color: rgb(0, 204, 255);
    text-decoration: underline;
}

.imageContainer {
    width: 75%;  /* Set width to 75% of the original */
    padding-top: 20px;  /* Increase vertical padding */
    display: flex;
    justify-content: center;  /* Center the image horizontally */
    align-items: center;  /* Center the image vertically */
  }